<button id="add" (click)="productSold(addproductSold)"> <b>Agregar Producto Vendido</b> </button>
<table>
    <thead class="headTable">
        <tr id="cabeza">
            <th>Código</th>
            <th>Nombre</th>
            <th>Cantidad vendida</th>
            <th>Cantidad Actual</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let productSold of productsSoldList" id="{{productSold.id}}">            <td>{{productSold.product_id}}</td>
            <td class="prod-name"><b>{{productSold.product.name}}</b></td>
            <td><b>{{productSold.stock.outbound}}</b></td>
            <td>{{productSold.stock.current_quantity}}</td>
            <td>
                <button id="update" class="btn"
                    (click)="productSold.id ? confirmUpdateproductSold(productSold, upProductSold): null"><b>⟳</b></button>
            </td>
            <td><button id="delete" class="btn"
                    (click)="productSold.id ? confirmDelete(productSold, content) : null"><b>X</b></button>
            </td>
            
        </tr>
    </tbody>
</table>

<ng-template #content let-modal>
    <div class="ng-template">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">¿Estas seguro de eliminar el producto?</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-confirm" (click)="modal.close('confirm')">Si</button>
            <button type="button" class="btn btn-cancel" (click)="modal.close('cancel')">No</button>
        </div>
    </div>
</ng-template>


<ng-template #addproductSold let-modal>
    <div id="all">
        <div class="modal-header">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.close(false)"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="productForm">
                <div class="modal-body container-fluid">
                    <h1><b>Agregar Producto</b></h1>
                    <div>
                        <p-dropdown formControlName="dropdown" tyleClass="w-1000rem" [options]="productsList"
                            optionLabel="name" [showClear]="true" filter="true" [filterBy]="'name,id'"
                            placeholder="Select a product" [(ngModel)]="selectProduct">
                        </p-dropdown>
                        <!-- <div *ngIf="selectProduct">
                            Cantidad acutal del  producto: {{selectProduct.stock.current_quantity}}
                        </div> -->

                        <input id="outbound" formControlName="outbound" class="form-control"
                            placeholder="Cantidad a ventas" type="number" required>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="isDisabledAdd"
                (click)="addProductSold()"><b>Agregar</b></button>
        </div>
    </div>
</ng-template>



<ng-template #upProductSold let-modal let-productSold="productSoldModal">
    <div id="all">
        <div class="modal-header">
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.close(false)"></button>
        </div>
        <div class="modal-body">
           
                <div class="modal-body container-fluid">
                    <h1><b>Actualizar {{productSoldModal?.product?.name}}</b></h1>
                    <label>Código: {{productSoldModal.product.id}}</label>
                    <input #errorInput  class="form-control"
                        placeholder="Error en la cantidad a ventas" type="number" required />

                </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="isDisabledAdd"
                (click)="updateProductSold(productSoldModal)"><b>Agregar</b></button>
        </div>
    </div>
</ng-template>