<button id="add" (click)="addProduct()"> <b>Agregar Producto</b> </button>
<table>
    <thead class="headTable">
        <tr id="cabeza">
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Ancho</th>
            <th>Alto</th>
            <th>Largo</th>
            <th>Actualizar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Product of productsList" id="{{Product.id}}">
            <td class="prod-name"><b>{{Product.name}}</b></td>
            <td><b>{{Product.stock.current_quantity}}</b></td>
            <td>{{Product.width}}</td>
            <td>{{Product.height}}</td>
            <td>{{Product.length}}</td>
            <td><button id="update" class="btn" (click)="Product.id ? getById(Product.id): null"><b>⟳</b></button></td>
            <td><button id="delete" class="btn"
                    (click)="Product.id ? confirmDelete(Product.id, content) : null"><b>X</b></button></td>
        </tr>
    </tbody>
</table>

<ng-template #content let-modal>
    <div class="ng-template">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">¿Estas seguro de eliminar el producto?</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-confirm" (click)="modal.close('confirm')">Si</button>
            <button type="button" class="btn btn-cancel" (click)="modal.close('cancel')">No</button>
        </div>
    </div>
</ng-template>